@import '../../assets/styles/variables';

.logoContainer {
  a {
      display: flex;
      align-items: center;
  }

  .logo {
      transition: filter 200ms ease;

      &:hover {
          outline: none;
          filter: drop-shadow(0 0 15px white);
      }

      &:focus {
          outline: 1px dashed $gray-300;
      }

      &:active {
          opacity: 0.8;
          transform: translateY(1px);
      }
  }
}