@import '../../assets/styles/variables';

.flex {
    display: flex;
    justify-content: center;
    margin-top: $spacing-300;
    min-height: 60vh;

    .flexContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-self: stretch;
        width: 100%;
        text-align: center;

        svg {
            max-width: 250px;
        }

        h2 {
            margin-top: $spacing-100;
            margin-bottom: calc($spacing-100 / 2);
            color: $gray-300;
        }

        p {
            color: $gray-200;

            a {
                color: $blue;
                text-decoration: none;
                border-bottom: 2px solid transparent;
                transition: border-color 150ms ease;
            }

            a:hover,
            a:focus {
                outline: none;
                border-bottom: 2px solid $blue;
            }
        }
    }
}
